<div class="container">
  <div class="row">
    <div class="col-md-3 left">
    </div>

      <div class="col-md-6 center">

        <h1>CREATE YOUR LISTING</h1>

        <div class="title-field">
          <%= form.label :title %>
          <%= form.text_field :title %>
        </div>

        <!-- <div class="avatar-field">
          <%= form.label :upload%>
          <%= form.file_field :avatars, multiple: true %>
        </div> -->

        <div class="description-field">
          <%= form.label :description %>
          <%= form.text_field :description %>
        </div>

        <div class="address-field">
          <%= form.label :address %>
          <%= form.text_field :address %>
        </div>

        <div class="property-type-field">
           <%= form.label :place_type %>
           <%= form.select :place_type, options_for_select([["guesthouse", :guesthouse], ["hotel", :hotel], ["apartment", :apartment], ["townhouse", :townhouse], ["cabin", :cabin], ["house", :house], ["bungalow", :bungalow]])%>
        </div>

        <div class="guest-field">
          <%= form.label :guest %>
          <%= form.number_field :guest, min: 1, max: 12, step: 1 %>
        </div>

        <div class="bedroom-field">
          <%= form.label :bedroom %>
          <%= form.number_field :bedroom, min: 1, max: 6, step: 1 %>
        </div>

        <div class="price-field">
          <%= form.label :price %>
          <%= form.number_field :price, min: 1, max: 6000, step: 1 %>
        </div>
        

        <div class="submit-field">
          <%= form.submit %>
        </div>


       </div>

       <div class="col-md-3 right">
       </div>

    </div>
  </div>
</div>
